* {
  padding: 1 px;
  margin: 1 px;
}
body{
  background: white; 
}

header {
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black; 
}
ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
}
li a {
  padding: 5px;
  color: white;
}
title, #header-title, h3, #projects p{
  background-color: black; 
  color: white;
  padding: 2
  px;
}

#cool-banner{
  display: flex;
  align-items: flex-start; 
  justify-content: left;
  flex-direction: row;
  height: 25vh;
  background-image: url("/images/portfolio_banner.jpg");
  background-size: cover;
  align-items: center;
  padding: 20px;
}

#cool-banner h2 {
  padding: 10px;
  max-width: 500px;
  text-align: match-parent;
}
#cool-banner img {
  padding: 10px;
  margin-right: 10px;
  max-width: 150px;
  width: 15%;
  text-align: left;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  max-width: 1200px;
  /* margin: 0 auto;
  padding: 0 20px; */
  /* margin-bottom: 20px; */
  margin: 20px;
}
.body-container aside {
  flex-basis: 200px;
  margin-right: 20px;
  border-right:  3px solid black;
  text-align: right;
  padding: 0 20px;
}
 #about-me p
{
  flex-basis: calc(100% - 240px);
}

.body-container #projects {
  flex-basis: calc(100% - 240px);
} 
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
#projects p {
  background-color: black;
}
article{
  height: 35vh;
  background-size: cover;
  background-position: center;
  flex-basis: 47%;
  margin: 10px;
  border: 1px solid black;
  align-items: center;
  
}
/*********************** debug the shade block *********************/
article::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
  transition: background-color 0.3s ease-in-out; /* add transition effect */ 
}

.article:hover::before {
  background-color: transparent; /* remove shade on hover */
}
/*********************** debug the shade block *********************/

article:hover {
  border: 3px solid black;
}
#surf-report {
  flex-basis: 100%;
  background-image: url("/images/surf_report.jpg");
  position: relative;
  /* background-size: cover; */
}


#led-wall {
  background-image: url("/images/led-wall.jpg");
}
#calculator {
  background-image: url("/images/calculator.jpg");
}
#pastel-puzzles {
  background-image: url("/images/pastel-puzzles.jpg");
}
#run-body {
  background-image: url("/images/run-body.jpg");
}
#nav-contacts {
   /* display:flex; */
   flex-basis: calc(100% - 240px);
} 
#nav-contacts ul li a {
    padding: 5px;
    color: black;
}

/* everything below is mobile */
/* @media screen and (min-width: 768px){ 
  main{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article{
    flex: 0 1 45%;
    margin-top: 2%;
  }
  h1{
    flex: 0 1 100%;
  }
  #article-3{
    flex: 0 1 100%;
  }
} 